@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui" {
   themes: Portfolio --default, Portfolio --prefersdark;
 }
@plugin "daisyui/theme" {
  name: "Portfolio";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25% 0.09 281.288);
  --color-base-200: oklch(35% 0.144 278.697);
  --color-base-300: oklch(39% 0.195 277.366);
  --color-base-content: oklch(93% 0.034 272.788);
  --color-primary: oklch(0% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(59% 0.145 163.225);
  --color-secondary-content: oklch(97% 0.021 166.113);
  --color-accent: oklch(54% 0.245 262.881);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(51% 0.262 276.966);
  --color-neutral-content: oklch(96% 0.018 272.314);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}


h1, h2, h3, h4, h5, h6,
a,
button {
  font-family: var(--font-f25), sans-serif;
}
body {
  font-family: var(--font-secret), sans-serif;
}